extends layout

block content
  div(class="container")
    hr
    button(class="btn btn-primary" data-toggle="modal" data-target="#agregarGrupo") agregar grupo
    div(class="col-md-8")
      hr
      table(class="table table-striped")
        thead()
          tr()
            th() Nombre
            th() Opciones
        tbody(data-bind="foreach: grupos")
          tr
            td(data-bind="text: descripcion")
            td
              button(class="btn btn-primary" data-bind="click: $root.cargar") Cursos
  div(class="modal fade" id="agregarGrupo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="exampleModalLabel") Agregar Curso
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        div(class="modal-body")
          form(data-bind="submit: agregar")
            div(class="form-group")
              label(for="nombre") Nombre 
              input(type="text" id="nombre" class="form-control" data-bind="value: descripcion")
            div(class="form-group")
              input(type="submit" class="btn btn-primary" value="Agregar")
        div(class="modal-footer")

  div(class="modal fade" id="grupos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="exampleModalLabel2") Modal title
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        div(class="modal-body")
          div(class="container")
            hr
            button(class="btn btn-primary" data-toggle="modal" data-target="#agregarGrupo") agregar grupo
            div(class="col-md-8")
              hr
              table(class="table table-striped")
                thead()
                  tr()
                    th() Nombre
                    th() Opciones
                tbody()
                  tr
                    td()
                    td
                      button(class="btn btn-primary") Cursos
        div(class="modal-footer")

