doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    nav(class="navbar navbar-toggleable-md navbar-inverse bg-primary")
      button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
      data-target="#navbarColor01" aria-controls="navbarColor01" 
      aria-expanded="false" aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      a(class="navbar-brand" href="#") Navbar
      div(class="collapse navbar-collapse" id="navbarColor01")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item")
            a(class="nav-link" href="#") Features
          li(class="nav-item")
            a(class="nav-link" href="#") Pricing
          li(class="nav-item")
            a(class="nav-link" href="#") About
    block content
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/knockout.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="javascripts/grupo.js")
    script(src="javascripts/curso.js")
